/* CSS Document */
html{ height: 100% }

body{
	background-color: #fff;
	height:100%;
	overflow-x	: hidden;
	background-color: #F6F7FB;
}


/* HEADER */
header{ 
	/*border:1px solid red;*/
	z-index: 1;
	background-color: #fff;
}
header nav{
	display: flex;
	justify-content: space-between;
	height: 20px;
	font-family: 'texgyreadventorbold';
}

header nav .nav-logo-side{
	display : flex;
	align-items:center;
	text-transform:uppercase;
	font-size:14px;
	color:#434A55;
}
	header nav .nav-logo-side img{
		height : 20px;
	}

header nav .nav-right-side{
	display:flex;
	align-items:center;
	text-transform:uppercase;
	color:#434A55;
}

	header nav .nav-right-side img{
		margin: 0px 4px;
		height : 16px;
	}

	header nav .nav-right-side span{
		font-size:12px;
	}
	
	header nav .nav-right-side-seperator{
		width : 0px;
		border: 1px solid #E6E6E6;
		height:16px;
	}
		
/* FIRST SECTION */
section{ 
	/*border: 1px solid green*/
}
section#first-section{
	height: 80%;
	background-color: #fff;
}

	section#first-section .front{
		z-index:999;
		width:100%;
		position:absolute;
		text-align:center;
		top: 120px;
	}

	section#first-section .front img{
		width : 126px;
	}

	section#first-section .front h3{
		text-transform:uppercase;
		height: 20px;
		font-family: 'texgyreadventorbold';
		color:#434A55;
		letter-spacing: 3px;
	}

	section#first-section .front h5{
		color: #CCD0DA;
		font-size: 15px;
		margin-top: 20px;
		font-family: 'texgyreadventorregular';
	}

	section#first-section figure{
		margin-top: 40px;
	}

	/*.back{
		width: 100%;
		z-index: 998;
		position: absolute;
		top: -200;
	}

	.back img{
		z-index: 998;
	}*/

	.th{
		/*width : 70px;*/
		/*height : 100px;*/
		/*float: left;*/
		position: absolute;
	}

/* FOOTER */
footer{
	/*border : 1px solid blue;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: 'texgyreadventorregular';
	font-size: 14px;
	color: #AAB2BE;
	background-color: #F6F7FB;
	/*height: 50px;*/
}

footer a{
	color : #00AAFF;
	text-decoration: none;
}

@media screen and (min-width : 768px) {
    header{
    	padding: 50px;
    }
    footer{
    	padding: 50px;
    }
}

@media screen and (max-width: 768px){
	header{
    	padding: 20px;
    }
    footer{
    	padding: 20px;
    }
}
